body{
    height: 100vh;
    background-image: radial-gradient(ellipse farthest-corner at 10vh 10vh, rgba(124, 184, 245 , 1) 50%, rgba(250, 235, 205, 0.1 ));
    /* backdrop-filter: drop-shadow(50px, 50px, 50px, black); */
    padding: 0;
    margin: 0;
    line-height: 1.5;
    min-width: 430px;
}

.fake-body{
    height: 100%;
    width: 100%;
    /* background-color: rgba(255, 255, 255, 0.4); */
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Navbar */

nav{
    padding: 5vh 5vh 0 5vh;
    display: flex;
    flex-direction: row;
    max-width: 1800px;
}

.logo {
    font-family: "Great Vibes", sans-serif;
    font-size: 30px;
    color: #181823;
    text-decoration: none;

}

.nav-side{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: center;
}

.about{
    text-decoration: none;
    color: #181823;
    font-size: 20px;
}

/* intro */

.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0 5vh 0 5vh;
}

.name{
    color:#FAEDCD;
}

.hi{
    font-size: 25px;
    color: #181823;
}

p{
    font-size: 35px;
    margin-top: 15px;
    color: #181823;
}

/* Quote */
.quote-box{
    display: flex;
    flex-direction: column;
    padding: 0 5vh 2vh 5vh;
}

.quote-width{
    max-width: 70vh;
}

.quote{
    font-size: 25px;
    color: #181823;
}

.author-box{
    display: flex;
    justify-content: flex-end;
}

.author{
    font-size: 20px;
    color: #181823;
}

/* Contact */

.contact{
    padding: 2vh 0 0 0;
    display: flex;
    justify-content: flex-end;
    max-width: 1800px;
}

.con-ways{
    text-decoration: none;
    color: #181823;
    font-size: 20px;
    padding-right: 5vh;
}

/* For Mobile */

@media (max-width: 900px) {
    .contact{
        padding: 2vh 0 0 0;
        display: flex;
        justify-content: center;
    }

    .hi{
        font-size: 23px;
    }

    p{
        font-size: 30px;
        margin-top: 10px;
    }

    .quote{
        font-size: 20px;
    }

    .author{
        font-size: 18px;
    }

    .con-ways{
        font-size: 18px;
    }
}

/* Fonts */

.font-main{
    font-family: "Honken Grotesk", sans-serif;
}

.font-100{
    font-weight: 100;
}

.font-200{
    font-weight: 200;
}

.font-400{
    font-weight: 400;
}

.font-bold{
    font-weight: 700;
}